label.control-label{
	font-size: 20px;
}

select{
	
	font-size:16px;
}
#adminBody{
	
	background-image:url("../img/back.jpg");
}
body{
	background-color: #fff;
}
.dropdown-menu{
	font-size: 16px;
}
.position-fixed{
	position: fixed;
	
}
label,span{
	
}
.text-large{
	text-transform: uppercase;
}
/* @font-face{
	font-family: "ahmars";
	src:url('font/ahmar.ttf');
} */
.smallCase{
	text-transform: lowercase !important;
}
.capitalCase{
	text-transform: capitalize; !important;
}
.noneCase{
	text-transform:none;!important;
}
.rounded-all{
	border-radius: 5px;
}
.invisible{
	visibility: hidden;
}
.hidden-x{
	display: none;
}
.hidden-xx{
	display: none!important;
}
.invisible{
	visibility: hidden;
}
.errorx{
background-color: blue;
}
.top-buffer-large{
	margin-top:20px;
}

.top-buffer-largest{
	margin-top:50px;
}
.top-buffer{
	margin-top: 10px;
}
.right-buffer{
	margin-right: 10px;
}

.top-buffer-small{
	margin-top: 5px!important;
}
.pointer,.addPoint,.addImpression,.addLMP,.remLMP{
	cursor:pointer;
}
.strong{
	font-weight:bold;
}
.left-buffer{
	margin-left: 10px;
}
.top-buffer-auto{
	margin-top: auto !important;
}
.no-top-buffer{
	margin-top: none!important;
}
.no-left-buffer{
	margin-left: 0px;
}
.left-anti-buffer{
	margin-left: -1px;
}
.same-size-addon{
	width:60px!important;
}
.err{
	border-color: red!important;
	box-shadow: 1px 1px 9px red !important;
}
.error,.success{
	margin:0px;
	border: 0px;
	width:100%;
	padding:5px;
	opacity:.6;
	color:#fff;

}
.error{
	background-color: #F73232;
}
.success{
	background-color: #00B72C;
}
.ui-black{
	background-color: #000;
}
.ui-white{
	background-color: #fff;
}
.ui-light-blue{
	background-color: #A6DAE7;
}
.ui-blue{
	background-color: #00AEDB;
}
.ui-blue:hover{
	background-color: #0583A2;
}
.ui-green{
	background-color: #41bb19!important;
}
.ui-green:hover{
	background-color: #379e15;
}
.ui-orange{
	background-color: #EE8F5D;
}
.ui-orange:hover{
	background-color: #F37735;
}
.ui-pink{
	background-color: #EC098C;
}
.ui-pink:hover{
	background-color: #EC098C;
}
.ui-purple{
	background-color: #836094;
}
.ui-purple:hover{
	background-color: #81499c;
}
.ui-red{
	background-color: #ff3738;
}
.ui-light-red{
	background-color: #FFA7A7;
	
}
.ui-red:hover{
	background-color: #e33031;
}
.ui-yellow{
	background-color: #FFC425;
}
.ui-yellow:hover{
	background-color: #FAB702;
}
.ui-pink:hover
{
	background-color: #B81B6C;
}
.ui-grey{
		background-color: #969696;
	}
/*#008299,00C13F,4E0038,7200AC,6BA5E7,B81B6C,6E7E94*/
.ui-pinkish{
	background-color: #93046B;
}
.ui-pinkish:hover{
	background-color: #4E0038;
}
.padding-mid{
	padding:20px;
}
.padding-small{
	padding:10px;
}
.padding-tiny{
	padding:5px;
}
.padding-dot{
	padding:2px;
}
.ui-tiles{
	height:200px;
	overflow: hidden;
}
.ui-highlight-blue{
	background-color: #E4FEFE;
}

.border-none{
	border:none!important;
	outline: none;

}
.border-black{
	border-color:  #000!important;
	text-transform: uppercase!important;
}
.border-all{
	border:solid 1px #ccc;
	box-sizing:border-box;
}
.border-left{
	border-left:solid 1px #ccc;
	box-sizing:border-box;
}
.border-right{
	border-right:solid 1px #ccc;
	box-sizing:border-box;
}
.border-top{
	border-top:solid 1px #ccc;
	box-sizing:border-box;
}
.border-bottom{
	border-bottom:solid 1px #ccc;
	box-sizing:border-box;
}
.border-top-bottom{
	border-bottom:solid 1px #ccc;
	border-top: solid 1px #ccc;
	box-sizing:border-box;
}
.border-left-right{
	border-left:solid 1px #ccc;
	border-right: solid 1px #ccc;
	box-sizing:border-box;
}

a{
	text-decoration: none!important;
}

::-webkit-input-placeholder{
	text-transform: none;
	color:#000;
	
}
.box-border-green,..box-border-pink{
	box-sizing:border-box;
}
.box-border-green{
	border:solid 1px #10C200;
}
.box-border-pink{
	border:solid 1px #EC098C;
}

.ui-text-white{
	color:#fff;
}
.ui-text-black{
	color:#000;
}
.ui-text-blue{
	color:#1B7FF8;
}
.ui-text-green{
	color:#10C200;
}
.ui-text-red{
	color:#C20002;
}
 .deck-tiles:hover{
	/* height:350px !important;
	width:500px; */

} 

#myModal .modal-body{
	max-height:700px;
}
#myModal .modal{
	top: 20px;
}
#searchModal {
	width:1200px !important;
	left:350px;

}
#searchModal .modal{

}
.impressionList {
	padding:0px;
	margin: 0px;
	list-style-type:none;
	/*list-style-image: url('../img/icon/ico.png') ;*/
}
#toolBar{
	position: fixed;
	top:-23px;

	z-index: 10;
}
#toolBar a{
	height:20px;
	margin-left: 1px;
}
#toolBar a:hover{
transition: all .4s ease-in-out;
height:40px;
}

.transition,..activeLabel{
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all .4s ease-in-out;
}
canvas{
	
	transition: all .4s ease-in-out;
}
canvas:hover{
	opacity:1;
	}
/*cutom cuss********************************************************************************/
body{
	/*background: url('../img/patt.png');*/
	
	overflow-x: hidden;
}

/*login css*/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:153px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url("../img/user-icon.png") no-repeat center;	
}

.pass-icon {
	top:201px;
	background: rgba(65,72,72,0.75) url("../img/pass-icon.png") no-repeat center;
}

.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
	float:right;
	padding: 11px 25px;
	
	
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	
	
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}


.home-links:hover{
	height: 40px!important;
	
	
}

.content-text{
	text-transform: none;
	font-size: 15px;
	font-family: "arial"
}
.cursor-pointer{
	cursor: pointer!important;
}

.checkLabel{
transition: all .5s ease-in-out;
cursor: pointer;	
	
}
input[type="radio"]:checked + .checkLabel,input[type="radio"]:checked + label{
	background-color:#05BE37;
	color:#fff;
	}

.icon_round{
	border-radius:130px;
	background-color: #E4E1E1;
	font-size: 150px;
	padding:50px;
	color:#969696;
	text-decoration: none;
}

.width-5pc{
	width:10%;
}
.width-1pc{
	width:2%;
}
.width-30pc{
	width:30%;
}
.width-30pc{
	width:40%;
}
.col-add{
	transition:all .4s ease-in-out;
}
.excel-table tr td{
	padding:0px!important;
}
.excel-text-box input[type="text"]{
	width:100%;
}
.width-100{
	width: 100%;
}
.excel-table input[type="text"]
{
	padding:0px;
	padding-left:2px;
	margin:0px;
	width:100%;
} 
.hide-submit{
	position:absolute;
	left: -9999px
}
.placeholder-blue input[type="text"]::-webkit-input-placeholder{
	  background-color:#1FCCE1;
	  color:#fff; 
}
textarea{
	resize:none;
}
textarea:focus,input[type="text"]:focus,input[type="text"]:focus::-webkit-input-placeholder{
	background-color: #26DDF1;
	color:#000;
}
#appContent{
min-height: 100px;
transition: all .6s ease-in-out;
}
.dataTables_info{
	width:60%;
}
.dataTables_filter input[type="text"]
{
	width:200px!important;
}
.loading-image{
	max-height: 30px;
}
.word-wrap{
	word-wrap:break-word;
}
.font-smallest{
	font-size: 10px;
}
.font-smaller{
	font-size: 12px!important;
}
.font-bigger{
	font-size:14px!important;
}
/*light box*/
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 400%;
	height: 1000%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	overflow:hidden;

}
.content_overlay {
	display: none;
	position: fixed;
	top: 50%;
	left: 25%;
	width: 50%;
	height: auto;
	padding:5px;
	background-color: #fff;
	z-index:1002;
	overflow: hidden;
	border-radius: 5px;
	opacity:1;
}

/*light box ends*/
.nav,table th,h2{
	text-transform: capitalize!important;
}
#well-text table td {
min-width:100px;
height:auto;
border:1px solid;
word-break:break-all;
}
#importTable td{
	word-break:break-all;
	max-width:350px;
	text-align: center;
}
.overflow-auto{
	overflow: auto!important;
}
.overflow-scroll{
	overflow: scroll!important;
}
.filterClass{
	cursor: pointer;
}
input[type="checkbox"]:checked + span
{
	background-color: #007004;
	color:#fff;
}
input[type="checkbox"]:checked + .checkLabel,.activeLabel,input[type="checkbox"]:checked + label
{
	color:#fff;background-color:#5cb85c;border-color:#4cae4c;
}
.checkLabelBtn,.checkLabel{
	color:#fff;
	background-color:#ccc;
	border-color:#ddd;
	padding:5px;
	border-radius: 5px;
	cursor:pointer;
}

.filterForm{
	/* position: absolute;
	z-index: 1;
	margin:0px 0px 0px 177px;
	margin-top: -40px; */
}
.popover{
	max-width:700px!important;
	min-width: 500px;
}
.popover label,.filterForm label{
	font-size: 11px;
	font-weight: normal;
}
#customFilter,#customFilter2,#customFilter3,#customFilter4
{
	position:absolute;
	top:195px;
	z-index: 3;
}
#customFilter{
	left:320px;
}
#customFilter2{
	left:520px;
}
#customFilter3{
	left:650px;
}
#customFilter4{
	left:696px;
}
.pagination ul{
	list-style-type: none;
}
.pagination ul li {
	float:left;
	padding:5px;
}
.pagination ul li.active {
	float:left;
	padding:5px;
	background-color: #ccc;
}
.smaller-text{
	font-size: 10px;
}
/*dropbox*/
.dropbox-dropin-btn,.dropbox-dropin-default
{
	width:32px;
	height: 32px!important;
	background:none!important;
	border: none!important;
}