body{
	font-family: DejaVu Sans;
	font-size: 12px;
}
td,th {
	border: 1px solid #ddd;
	min-width:10px!important;
}
.break {
page-break-before: always;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
	border:0;
}
